:root {
    --bg-body: #151515;
    --bg-bottom: #222222;
    --accent: #43f8d1;
    --text-1: #FFFFFF;
    --text-2: #d9d9d9;
    --error: #ff975b;
}

html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 0 solid #e2e8f0; */
    font-family: "Plus Jakarta Sans", sans-serif;
}

body {
  min-height: 100vh;
  background-color: var(--bg-body);
  color: var(--text-1);
}

.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.row {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
    margin-bottom: 24px;
}

.menu__icons {
  display: flex;
  gap: 24px;
  padding-right: 16px;
}

.menu__icons img {
  display: block;
  width: 24px;
  height: 24px;
  color: var(--text-2);
  stroke: currentColor;
}

.hero__about {
  max-width: 35%;
  margin-bottom: 50px;
}

.hero__contact-me {
  
}




